html(lang="tr" ng-app="myapp" ng-strict-di)
  head
    meta(charset="utf-8")
    base(href="/")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="fragment" content="!")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    title myapp

  body
    div(ui-view)
